
@charset-"UTF-8";

body {
    background-image: url(wallpaper003.jpg);
}
section.quadrada {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    padding: 5px 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
color: white;
}
h1 {
    color: white;
    text-align: center;
    font-variant: small-caps;
}

  
